body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-style: italic;
    color: rgb(137, 91, 123);
  }
  
  h2 {
    margin-top: 1em;
  }
  
  .question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
  }
  
  .answer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  
  .answer-choice img {
    height: 8em;
    width: auto;
    max-width: 100%;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d3abbf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
  }
  
  #barbieImage img,
  #raquelleImage img {
    width: 250px;
    height: auto;
    max-width: 100%;
    margin-top: 1em;
  }
  